.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  width: 119;
  height: 24px;
  top: 425px;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 12px 0 0;
  flex-grow: 1;
  white-space: nowrap;
  max-width: 353px;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.3s ease;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 235px;
  }
}
